body {
    padding: 0 15px;
}
.textArea,
.textPlace {
    outline: none;
    padding: 25px;
    height: 100%;
    overflow: auto;
    display: block;
    float: left;
}
.textArea { 
    min-width: 30%;
    width: 69.5%;
    max-width: 85%;
    display: inline-block;
}
.titles {
    height: 70px;
    clear: both;
}

.leftTitle {
    float: left;
}

.rightTitle {
    float: right;
}

.wrapperAcc {
    margin-left: 10px;
    width: 20%;
    float: right;
}

.editorButtons {
    display: inline-block;
}
.textPlace {
    flex: 1;
    resize: none;
    border: none;
    width: 30%;
    padding-right: 0;
}
.splitter {
    cursor: e-resize;
    width: 0.5%;
    display: block;
    height: 100%;
    float: left;
    background-color: rgb(56, 55, 55);
}
.editor {
    margin-top: 10px;
    width: 79%;
    display: inline-flex;
    border: 3px solid black;
    overflow: hidden;
    max-height: 850px;
}

.elemsEditors {
    outline: none;
    display: inline-block;
    border: 1px solid #888;
    padding: 5px 8px;
    margin: 5px;
    color: #000;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 1px 1px 2px #ddd;
    background: #fff;
    vertical-align: top;
    text-decoration: none;
}

.elemsEditors:hover {
    background-color: lightcyan;
}

#edition:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\232A';
    font-size: 23px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\FE40";
}